//
// Sass file
// Usage : 
// $ gem install sass compass
// $ sass --watch s.scss:s.css --compass
// 
// Message for the curious minded:
/* ===========
  Greetings.
  Wanna take a look backstage? s.scss
=========== */

@import "compass/css3";

$nb_slides: 5;
$slide_width: 1024px;

body {
  font-family: sans-serif;
  position: relative;
}
html, body, #slides_wrapper, .slide {
  height: 760px;
  width: $slide_width;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
a {
  color: #007BC6;
}
#slides_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: $nb_slides * $slide_width;
  -webkit-transition: -webkit-transform .5s cubic-bezier(0, 0.25, 0.5, 1);
  -moz-transition: -moz-transform .5s cubic-bezier(0, 0.25, 0.5, 1);
  -o-transition: -o-transform .5s cubic-bezier(0, 0.25, 0.5, 1);
  -ms-transition: -ms-transform .5s cubic-bezier(0, 0.25, 0.5, 1);
  transition: transform .5s cubic-bezier(0, 0.25, 0.5, 1);
  -webkit-animation-duration: .3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-duration: .3s;
  -moz-animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
}
  .first-slide-nogo {
    -webkit-animation-name: first-slide-nogo;
    -moz-animation-name: first-slide-nogo;
    -o-animation-name: first-slide-nogo;
  }
  /* Animation triggered when the user tries to go back on the first slide */
  @-webkit-keyframes first-slide-nogo {
    0%  { -webkit-transform: translate3d(0, 0, 0); }
    50% { -webkit-transform: translate3d(30px, 0, 0); }
    0%  { -webkit-transform: translate3d(0, 0, 0); }
  }
  @-moz-keyframes first-slide-nogo {
    from { -moz-transform: translateX(0); }
    to   { -moz-transform: translateX(30px); }
  }
  
  .slide {
    -webkit-transform: translateZ(0);
    position: relative;
    float: left;
    background: #FAFAFA;
    border: 10px solid #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }

h1 {
  text-align: center;
  font-size: 142px;
  color: #999;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  small {
    display: block;
    font-size: 30px;
    line-height: 1.5;
  }
}

/* Slide to slide transitions */
@for $i from 1 through $nb_slides {
  #slides_wrapper.slide-#{$i} {
    -webkit-transform: translate3d(-(#{$slide_width * ($i - 1)}), 0, 0);
    -moz-transform: translateX(-(#{$slide_width * ($i - 1)}));
    -o-transform: translateX(-(#{$slide_width * ($i - 1)}));
    -ms-transform: translateX(-(#{$slide_width * ($i - 1)}));
    transform: translateX(-(#{$slide_width * ($i - 1)}));
  }
}